{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12 mx-0 px-0">
        <div class="overlay-homepage">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-7 col-md-6 my-auto">
                        <h1 class="display-4 logo-font text-white mx-md-5">
                            Welcome to Flight Academy!
                        </h1>
                        <div class="my-5">
                            <h2>
                                <a href="{% url 'about' %}" class="learn-more-button btn btn-lg rounded-0 text-uppercase py-3 mx-md-5">Learn More</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}