html, body {
    height: 100%;
    overflow-y: auto;
}

/* footer positioning */
body > footer {
    position: sticky;
    top: 100vh;
}

body {
    min-height: 100%;
    color: #555;
    font-family: 'Roboto Condensed', sans-serif;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
}

/* header styling sticky */
header {
    position: sticky !important;
    top: 0 !important;
    z-index: 9999;
}

/* vertical white divided on full-screen navbar */
.border-left {
    border-left: 1px solid #fff;
}

/* overlay on homepage */
.overlay-homepage {
    height: calc(100vh - 80px);
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/flight-academy-test-2.79c076b1e3cd.jpg') no-repeat center center, -webkit-gradient(linear, left top, right top, from(rgba(18, 27, 36, 1)), color-stop(70%), to(rgba(18, 27, 36, 0.3)));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/flight-academy-test-2.79c076b1e3cd.jpg') no-repeat center center, -o-linear-gradient(left, rgba(18, 27, 36, 1), 70%, rgba(18, 27, 36, 0.3));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/flight-academy-test-2.79c076b1e3cd.jpg') no-repeat center center, linear-gradient(to right, rgba(18, 27, 36, 1), 70%, rgba(18, 27, 36, 0.3));
    background-size: cover;
    background-blend-mode: overlay;
    
}

/* about - flying school section background img - headset */
.overlay-headset {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402225/static/images/david-clark-headset.f6492a6ae860.jpg') no-repeat center right, rgba(255, 255, 255, 0.85);
    background-blend-mode: overlay;
    background-size: contain;
}

/* loading overlay */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

/* from Bulma */
.icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* large uppercase text */
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/* main homepage red button */
.learn-more-button {
    background: rgb(251, 0, 14);
    color: #fff;
    min-width: 260px;
}

/* red button across site */
.btn-red {
    background: rgb(251, 0, 14);
    color: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* red styling for btt button */
.close-btn-red {
    background: rgb(251, 0, 14);
    color: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* quantity buttons in payment flow */
.btn-red-quantity {
    background: rgb(251, 0, 14);
    color: #fff;
}

/* dark navy buttons across site */
.btn-navy {
    background-color: rgb(19, 29, 39);
    color: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* stying for dropdown menu within account button */
.dropdown-menu {
    background-color: rgb(19, 29, 39);
    border-radius: 0;
}

/* white font color for account dropdown options */
.dropdown-item {
    color: #fff;
}

/* hover effect on nav bar links */
.nav-item a:hover {
    color: rgb(251, 0, 14) !important;
}

/* account link hover on medium and larger screens */
.dropdown div:hover {
    color: rgb(251, 0, 14);
}

/* hover effect on account and shopping bag on small screens */
.nav-item div:hover {
    color: rgb(251, 0, 14);
}

/* hover effecr on shopping bag on medium screens and larger */
.nav-link div:hover {
    color: rgb(251, 0, 14);
}

/* red font for hover on dropdown options */
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color: rgb(251, 0, 14);
}

/* close button */
.btn-close {
    background: rgb(251, 0, 14);
    color: #fff;
}

/* black outline on allauth form buttons */
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid #000;
}

/* hover effect for allauth buttons with black outline */
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000;
    color: white !important;
}

/* hover effect for red buttons */
.learn-more-button:hover,
.learn-more-button:active,
.learn-more-button:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red-quantity:hover,
.btn-red-quantity:active,
.btn-red-quantity:focus,
.btn-close:hover,
.btn-close:active,
.btn-close:focus {
    background: rgb(165, 28, 32);
    color: #fff;
}

/* hover effecr for navy buttons */
.btn-navy:hover,
.btn-navy:active,
.btn-navy:focus {
    background-color: rgb(58, 72, 85);
    color: #fff;
}

/* font color black - !important to override Bootstrap */
.text-black {
    color: #000 !important;
}

/* font color white - !important to override Bootstrap */
.text-white {
    color: #fff !important;
}

/* font color red - !important to override Bootstrap */
.text-red {
    color: rgb(251, 0, 14);
}

/* border color black - !important to override Bootstrap */
.border-black {
    border: 1px solid #000 !important;
}

/* red divider line in mobile dropdown nav menu */
.border-line {
    border: 1px solid rgb(251, 0, 14);
}

/* navy background color in navbar and footer */
.bg-navy {
    background: rgb(19, 29, 39);
}

/* top bg image on about page  */
.about-image-1 {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402224/static/images/diamond-cockpit-students.f89be93d34e9.jpg') no-repeat center center rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 75vh;
}

/* second bg image on about page */
.about-image-2 {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402220/static/images/students-classroom.afc079e446e4.jpg') 50% 0 fixed, rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    height: 50vh;
}

/* large h2 font on about page */
.about-h2 {
    font-size: 4em;
    text-align: center;
}

/* small sub-text on about page */
.about-p {
    font-size: 1.3em;
    text-align: center;
}

/* sim image on about page */
.about-image-4 {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/a320-simulator.93ddb2206bca.jpg') 50% 0 fixed, rgba(18, 27, 36, 0.50);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    height: 50vh;
}

/* image sizing of voucher image and placeholder image */
.voucher-image,
.placeholder-voucher-image {
    max-width: 100%;
    height: auto;
}

/* image preview on edit pages */
.img-preview {
    max-height: 231px;
}

/* top image on vouchers page */
.voucher-bg-image {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402223/static/images/flying-lesson.36b73889a022.jpg') no-repeat rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 55vh;
}

/* text on voucher detail page */
.voucher-text {
    font-size: 1.8em;
    margin-top: 1rem;
    color: #555;
}

/* voucher title text color */
.voucher-title {
    color: #555;
}

/* voucher title font size */
.voucher-details-title {
    font-size: 2.5em;
}

/* voucher text font size */
.voucher-description {
    font-size: 1.2em;
}

/* voucher page off white color */
.voucher-bg {
    background-color: rgb(246, 247, 249);
}

/* shadow effect around vouchers and training course options */
.card {
    -webkit-box-shadow: 11px 11px 10px #adb5bd;
            box-shadow: 11px 11px 10px #adb5bd;
}

.large-text-voucher-training {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.2;
} 

/* training page top bg image */
.training-bg-image {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402222/static/images/students-runway.06752af4a644.jpg') 34% no-repeat rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 55vh;
}

/* styling for back to top button */
.btt-button {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color:rgb(251, 0, 14);
    z-index: 99999999;
}

/* change cursor to pointer for links */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* container for success, error, info messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.toast-display {
    overflow: visible;
}

/* colored top of message container */
.toast-cap {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
/* arrow up at top right corner of message container */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
/* arrows at top right of toasts */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* shopping bag summary */
.shopping-bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* contact form h2 font size */
.contact-h2 {
    font-size: 2.9em;
}

/* bg overlay on contact page */
.overlay-contact-page {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/flight-academy-test-2.79c076b1e3cd.jpg') no-repeat center center, -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(80%), to(rgba(255, 255, 255, 0.467)));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/flight-academy-test-2.79c076b1e3cd.jpg') no-repeat center center, -o-linear-gradient(left, rgb(255, 255, 255), 80%, rgba(255, 255, 255, 0.467));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707402221/static/images/flight-academy-test-2.79c076b1e3cd.jpg') no-repeat center center, linear-gradient(to right, rgb(255, 255, 255), 80%, rgba(255, 255, 255, 0.467));
    background-size: cover;
    background-blend-mode: overlay;
}

/* bg overlay on allauth pages */
.overlay-allauth-pages {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707526923/static/images/cessnas-flying.339dad6e14de.jpg') no-repeat center center, -webkit-gradient(linear, left top, right bottom, from(rgb(255, 255, 255)), color-stop(75%), to(rgba(255, 255, 255, 0.439)));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707526923/static/images/cessnas-flying.339dad6e14de.jpg') no-repeat center center, -o-linear-gradient(top left, rgb(255, 255, 255), 75%, rgba(255, 255, 255, 0.439));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707526923/static/images/cessnas-flying.339dad6e14de.jpg') no-repeat center center, linear-gradient(to bottom right, rgb(255, 255, 255), 75%, rgba(255, 255, 255, 0.439));
    background-size: cover;
    background-blend-mode: overlay;
}

/* bg overlay on newsletter section of about page */
.overlay-about-newsletter {
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707526919/static/images/cessna-cockpit.608735a64708.jpg') no-repeat center center, -webkit-gradient(linear, left top, right bottom, from(rgb(255, 255, 255)), color-stop(60%), to(rgba(255, 255, 255, 0.439)));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707526919/static/images/cessna-cockpit.608735a64708.jpg') no-repeat center center, -o-linear-gradient(top left, rgb(255, 255, 255), 60%, rgba(255, 255, 255, 0.439));
    background: url('https://res.cloudinary.com/dgnlyp5r0/image/upload/v1707526919/static/images/cessna-cockpit.608735a64708.jpg') no-repeat center center, linear-gradient(to bottom right, rgb(255, 255, 255), 60%, rgba(255, 255, 255, 0.439));
    background-size: cover;
    background-blend-mode: overlay;
}

/* footer social links */
.social-link {
    font-size: 1.5em;
}

/* hover effect on social links in footer - !important to override Bootstrap */
.social-link:hover {
    color: rgb(251, 0, 14) !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::-webkit-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(251, 0, 14);
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}