html, body {
    height: 100%;
    overflow-y: auto;
}

/* footer positioning */
body > footer {
    position: sticky;
    top: 100vh;
}

body {
    min-height: 100%;
    color: #555;
    font-family: 'Roboto Condensed', sans-serif;
    overscroll-behavior: none;
}

/* header styling sticky */
header {
    position: sticky !important;
    top: 0 !important;
    z-index: 9999;
}

/* vertical white divided on full-screen navbar */
.border-left {
    border-left: 1px solid #fff;
}

/* overlay on homepage */
.overlay-homepage {
    height: calc(100vh - 80px);
    background: url('../images/flight-academy-test-2.jpeg') no-repeat center center, linear-gradient(to right, rgba(18, 27, 36, 1), 70%, rgba(18, 27, 36, 0.3));
    background-size: cover;
    background-blend-mode: overlay;
}

/* about - flying school background img */
.overlay-headset {
    background: url('../images/david-clark-headset.jpeg') no-repeat center right, rgba(255, 255, 255, 0.85);
    background-blend-mode: overlay;
    background-size: contain;
}

/* loading overlay */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* large uppercase text */
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* main homepage red button */
.learn-more-button {
    background: rgb(251, 0, 14);
    color: white;
    min-width: 260px;
}

/* red button across site */
.btn-red {
    background: rgb(251, 0, 14);
    color: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* red styling for btt button */
.close-btn-red {
    background: rgb(251, 0, 14);
    color: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* quantity buttons in payment flow */
.btn-red-quantity {
    background: rgb(251, 0, 14);
    color: #fff;
}

/* dark navy buttons across site */
.btn-navy {
    background-color: rgb(19, 29, 39);
    color: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* stying for dropdown menu within account button */
.dropdown-menu {
    background-color: rgb(19, 29, 39);
    border-radius: 0;
}

/* white font color for dropdown options */
.dropdown-item {
    color: #fff;
}

/* red font for hover on dropdown options */
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color: rgb(251, 0, 14);
}


/* .btn-white {
    background: #fff !important;
    color: #000;
} */

/* close button */
.btn-close {
    background: rgb(251, 0, 14);
    color: #fff;
}

/* black outline on allauth form buttons */
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/* hover effect for allauth buttons with black outline */
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* hover effect for red buttons */
.learn-more-button:hover,
.learn-more-button:active,
.learn-more-button:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red-quantity:hover,
.btn-red-quantity:active,
.btn-red-quantity:focus,
.btn-close:hover,
.btn-close:active,
.btn-close:focus {
    background: rgb(165, 28, 32);
    color: white;
}

/* hover effecr for navy buttons */
.btn-navy:hover,
.btn-navy:active,
.btn-navy:focus {
    background-color: rgb(58, 72, 85);
    color: #fff;
}


.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.text-red {
    color: rgb(251, 0, 14);
}

.border-black {
    border: 1px solid black !important;
}

/* red divider line in mobile dropdown nav menu */
.border-line {
    border: 1px solid rgb(251, 0, 14);
}

/* navy background color in navbar and footer */
.bg-navy {
    background: rgb(19, 29, 39);
}

/* top bg image on about page  */
.about-image-1 {
    background: url('../images/diamond-cockpit-students.jpeg') no-repeat center center rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 75vh;
}

/* second bg image on about page */
.about-image-2 {
    background: url('../images/students-classroom.jpeg') 50% 0 fixed, rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    height: 50vh;
}

/* large h2 font on about page */
.about-h2 {
/* small sub-text on about page */
}

/* bg-img of headset on about page */
.about-image-3 {
    background: url('../images/david-clark-headset.jpeg') no-repeat center center;
    height: 40vh;
    display: block;
    background-size: contain;
}

/* sim image on about page */
.about-image-4 {
    background: url('../images/a320-simulator.jpeg') 50% 0 fixed, rgba(18, 27, 36, 0.50);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    height: 50vh;
}

/* image sizing of voucher image and placeholder image */
.voucher-image,
.placeholder-voucher-image {
    max-width: 100%;
    height: auto;
}

/* image preview on edit pages */
.img-preview {
    max-height: 231px;
}

/* top image on vouchers page */
.voucher-bg-image {
    background: url('../images/flying-lesson.jpeg') no-repeat rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 55vh;
}

/* text on voucher detail page */
.voucher-text {
    font-size: 1.8em;
    margin-top: 1rem;
    color: #555;
}

/* voucher title text color */
.voucher-title {
    color: #555;
}

/* voucher title font size */
.voucher-details-title {
    font-size: 2.5em;
}

/* voucher text font size */
.voucher-description {
    font-size: 1.2em;
}

/* voucher page off white color */
.voucher-bg {
    background-color: rgb(246, 247, 249);
}

/* shadow effect around vouchers and training course options */
.card {
    box-shadow: 11px 11px 10px #adb5bd;
}

/* training page top bg image */
.training-bg-image {
    background: url('../images/students-runway.jpg') 34% no-repeat rgba(18, 27, 36, 0.75);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 55vh;
}

/* styling for back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* container for success, error, info messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.toast-display {
    overflow: visible;
}

/* colored top of message container */
.toast-cap {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
/* arrow up at top right corner of message container */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* shopping bag summary */
.shopping-bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* contact form h2 font size */
/* bg overlay on contact page */
/* bg overlay on allauth pages */
/* bg overlay on newsletter section of about page */
/* footer social links */

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(251, 0, 14);
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 128px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 116px);
    }
}