{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 training-bg-image d-flex flex-column align-items-center justify-content-center">
                <h2 class="display-3 logo-font text-white">Training Courses</h2>
                <a class="{% if request.user.is_superuser %}d-block{% else %}d-none{% endif %} nav-link main-logo-link" href="{% url 'add_training' %}">
                    <h2 class="btn btn-lg btn-red rounded-0"><strong>Add Training Course</strong></h2>
                </a>
            </div>
        </div>

        <div class="row voucher-bg">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row">
                    {% for training in training %}
                        <div class="col-12 col-md-6 container">
                            <div class="card mt-5 mb-2 mx-3">
                                {% if training.image %}
                                <a href="{% url 'training_detail' training.id %}">
                                    <img class="voucher-image" src="{{ training.image.url }}" alt="{{ training.title }}">
                                </a>
                                {% else %}
                                <a href="{% url 'training_detail' training.id %}">
                                    <img class="placeholder-voucher-image" src="{% static 'images/voucher-placeholder-image.jpeg' %}" alt="{{ training.title }}">
                                </a>
                                {% endif %}
                                <a class="text-decoration-none" href="{% url 'training_detail' training.id %}">
                                    <div class="card-body">
                                        <p class="voucher-title text-center display-4">{{ training.title }}</p>
                                        <hr>
                                        <p class="text-center voucher-text mt-4"><i class="fas fa-plane text-red mx-auto my-auto"></i> {{ training.aircraft_type }}</p>
                                    </div>
                                    <div class="bg-navy">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center voucher-text text-white">€{{ training.cost }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- back to top of page button -->
    <div class="btt-button btn-red shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100" href="">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}