{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12 overlay-allauth-pages">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 mt-4">
                <h1 class="display-4 logo-font text-black">
                    An error has occurred. Please try again.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'vouchers' %}" 
                            class="shop-now-button btn btn-navy text-uppercase">
                                Return to Vouchers
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
