{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12 about-image-1 d-flex flex-column align-items-center justify-content-center">
            <h2 class="display-3 logo-font text-white lead">About Us</h2>
            <p class="text-white about-p">Focused on Training Excellence</p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col d-flex flex-column justify-content-center">
            <h2 class="display-3 ml-3">Focused on Training Excellence</h2>
        </div>
        <div class="row d-flex align-items-center p-0 m-0">
            <div class="col-12 col-md-6">
                <p class="ml-3">Welcome to Flight Academy. We specialize in Private Pilot License(PPL), Commercial Pilot Licence(CPL) and
                    Airline Transport Pilot License (ATPL) training, providing top-notch education for aspiring aviators. Experience the
                    thrill of flight with our introductory flight vouchers - the perfect gift for aviation enthusiasts. Join us on a journey
                    to the skies, where dreams take flight.</p>
            </div>
            <div class="col-12 col-md-6">
                <p class="ml-3">At Flight Academy we believe that our instructors are, without exception, highly motivated, charismatic
                    individuals with fascinating aviation backgrounds and a wealth of knowledge and experience. They are passionate about
                    what they do and are committed to help our students realise their potential to become exceptional pilots.</p>
            </div>
        </div>
        <div>
            <h4 class="ml-4 mt-3">
                <a href="{% url 'training' %}" class="btn btn-red text-uppercase">View Our Courses</a>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 about-image-2 d-flex flex-column align-items-center justify-content-center">
            <h2 class="about-h2 logo-font text-white lead">Knowledge to Fly</h2>
            <p class="text-white about-p">Our strength is our people</p>
        </div>
    </div>

    <div class="container-fluid row my-5 overlay-headset">
        <div class="col d-flex flex-column justify-content-center">
            <h2 class="display-3 ml-3">Flying School</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-10">
                <p class="p-2 ml-3 pr-3">Flight Academy recruits over 40 fulltime and experienced EASA flight instructors,
                    most of them with 1000's of hours flying and instructing in Ireland, international and EASA airspace.
                    All our Flight Instructors have successfully passed our thorough standardisation course, deemed to be one of the toughest
                    in the industry, to ensure their training standards are not just in line with our quality system but outstanding.
                    At the heart of our training program is a fleet of meticulously maintained and technologically advanced aircraft.
                    We take pride in offering a diverse range of aircraft types, catering to various training needs. From nimble single-engine
                    planes for initial training to sophisticated multi-engine aircraft for advanced courses, our fleet is a testament to our
                    commitment to providing comprehensive aviation education. Our flight vouchers grant you access to a diverse fleet of
                    aircraft, including the iconic Cessna 152 and Cessna 172, the versatile Piper PA-28, and the sophisticated Diamond DA-42.
                    Each aircraft is meticulously maintained, ensuring your safety and comfort as you soar through the skies.</p>
            </div>
            
        </div>
        <div>
            <h4 class="ml-4 mt-3">
                <a href="{% url 'vouchers' %}" class="btn btn-red text-uppercase">View Our Vouchers</a>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 about-image-4 d-flex flex-column align-items-center justify-content-center">
            <h2 class="about-h2 logo-font text-white lead">Ultimate Skills</h2>
            <p class="text-white about-p">Train with Airline Captains</p>
        </div>
    </div>

    <div class="row overlay-about-newsletter py-5">
        <div class="col-12 col-md-6 mx-auto text-center">
            <h2>Sign up to the Flight Academy Newsletter</h2>
            <form method="POST" action="{% url 'about' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-navy">Cancel</a>
                <button class="btn btn-red" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}