{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="row about-image-1">
            <div class="col-12 my-auto">
                <h2 class="display-3 logo-font text-center text-white mt-5">
                    About Us
                </h2>
                <p class="about-para-text text-center text-white mb-lg-5">Focused on Training Excellence</p>
            </div>
        </div>
        
        <div class="row w-100">
            <div class="col-md-12">
                <h2 class="display-4 text-center pt-5 pb-2">Focused on Training Excellence</h2>
            </div>
            <div class="col-md-6">
                <p class="about-para-text">Flight Academy employs approximately 150 permanent staff to deliver training and all associated services. All aspects of the package provided at Jerez are delivered by our own staff, with no elements outsourced. As a result we have total control of the process from accommodation and aircraft maintenance through to ground, flight and simulator training.</p>
            </div>
            <div class="col-md-6">
                <p class="about-para-text">At Flight Academy we believe that our instructors are, without exception, highly motivated, charismatic individuals with fascinating aviation backgrounds and a wealth of knowledge and experience. They are passionate about what they do and are committed to help our cadets realise their potential to become exceptional pilots.</p>
            </div>
        </div>

        <div class="row about-image-2">
            <div class="col-12 my-auto">
                <h2 class="display-3 text-white text-center">
                    Knowledge to Fly
                </h2>
                <p class="about-para-text text-center text-white">Our strength is our people</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                <h2 class="display-4">Flying School</h2>
                <p class="about-para-text">Flight Academy recruits over 40 fulltime and experienced EASA flight instructors, most of them with 1000’s of hours flying and instructing in international and EASA airspace.
                    All our FI’s have successfully passed our thorough standardisation course, deemed to be one of the toughest in the industry, to ensure their training standards are not just in line with our quality system but outstanding.</p>
            </div>
            <div class="col-6 about-image-3"></div>
        </div>

        <div class="row about-image-4 mt-5">
            <div class="col-12 my-auto">
                <h2 class="display-3 text-white text-center">Ultimate Skills</h2>
                <p class="about-para-text text-center text-white">Train with Airline Captains</p>
            </div>
        </div>
{% endblock %}